table{
    background-color: #5c0177;
    margin:auto;
    margin-top: 50px;
    width: 40%;
    border: 3px;
    border-radius: 5px;
    border-color: #6200ff;
    border-style: solid;
    padding: 5px;
}

input[type="button"]{
    background-color: #6200ff;
    font-size: 30px;
    font-weight: 800;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 20vh;
    border: none;
    padding: 30px;
    border-radius: 5px;
    color: white;
}

input[type="text"]{
    padding: 20px 30px;
    font-size: 24px;
    font-weight: bold;
    border: solid, 3px, #6200ff;
    border-radius: 5px;
    margin: auto;
    background-color: #6200ff;
    width: 72%;
    margin-left: 5%;
}